/* 共通部分 */

body {
  background-color: #D9D9D9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

p {
  width: 95%;
  margin-right: 10px;
  font-size: 15px;
  padding: 0 20px 20px;
  line-height: 2;
}
/* 個別部分 */

/* ハンバーガーメニュー */
/*中身*/

/* 三本の線を表現する */
/* 疑似要素を利用する */
#nav_open span , #nav_open span:before, #nav_open span:after {
  position: absolute;
  height: 3px;
  width: 30px;
  background: #666;
  content: "";
  cursor: pointer;
}

/* 線の位置を表現 */

#nav_open span {
  top: 38px;
  right: 30px;
}

#nav_open span:before {
  bottom: -12px;
}

#nav_open span:after {
  bottom: -24px;
}

#nav_contents ul {
  display: none;
}

.nav_invisible {
  display: none;
}

/* メニューの中身 */
#nav_contents {
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 100%;
  height: auto;
  background: black;
  transition: .3s;
  opacity: 0;
}

/* nav_inputにチェックが入ったらnav_contentsを表示する */
#nav_input:checked ~ #nav_contents {
  opacity: .8;
}

.sp_list {
  border-bottom: 1px solid white;
  text-align: left;
  line-height: 2;
  padding: 16px;
}

.sp_list a {
  color: white;
  text-decoration: none;
}

.sp_l_top {
  font-size: 18px;
}

.sp_l_bottom {
  font-size: 11px;
}

/* position relative と absolute はセット */
.header {
  height: 100px;
  border-top: 5px solid #0E36CA;
  position: relative;
}

header .logo {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 4%;
  /* 50%上に移動する */
  transform: translateY(-50%);
}

.h_nav  {
  border-top: 1px solid black;
}

.h_menu {
  letter-spacing: -.4em
}

.h_list {
  height: 64px;
  display: inline-block;;
  width: calc(100%/6);
  position: relative;
  letter-spacing: normal;
  border-right: 1px solid #d2d2d2;
  box-sizing: border-box;
  vertical-align: bottom;
}

.h_list:hover {
  background-color: #E6EBFA;
  }

/* カーソルをli にあてたら 文字に色付け 　h-l-top に色付け*/

.h_list:hover .h_l_top {
  color: #103CE1;
  }

.h_list:hover .h_l_box:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  border-left: 3px solid #103CE1;
  left: -4px;
}

.active {
  background-color: #E6EBFA;
}

.active .h_l_box:before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  border-left: 3px solid #103CE1;
  left: -4px;
}

.active .h_l_top {
  color: #103CE1;
}

/* position absolute だと サイズがリセットされるので指定が必要 */
.h_l_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90%;
  text-align: center;
  line-height: 1.5;
}

.h_l_top {
   font-size: 15px;
   font-style: normal;
   font-weight: 700;
   color: #666666;
   margin-bottom: 4px;
}

.h_l_bottom {
  font-size: 10px;
  font-style: normal;
  color: #BABABA;
  text-align: center;
}

/* 定石的な定義 */

img {
  max-width: 100%;
  height: auto;
}

.contents {
  padding: 24px;
  overflow: hidden;
}

.main {
  float: left;
  width: 70%;
}

.m_h2 {
  background-color: #0E36CA;
  color: #fff;
  padding: 14px 12px 14px 24px;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 24px;
}

.m_h2::first-letter {
  border-left: 3px solid #6A85EA;
  padding-left: 16px;
}

.m_h3 {
  background: #f6f6f6;
  color: #666666;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 17px;
  border: #ccc 1px solid;
  margin-bottom: 20px;
  line-height: 2;
}

.m_section {
  color: #666666;
  margin-bottom: 70px;
}

.m_info {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
}

.m_info_data {
  float: left;
  padding: 8px 32px 8px 0;
  color: blue;
}

.m_info_desc {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.m_info_new {
  background: red;
  font-size: 11px;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
}

.m_log {
  text-align: right;
  padding-top: 24px;
}

.m_log a {
  color: #666666;
}

.point {
  color: #ff0000;
  font-weight: 700;
}

.date {
  margin: 0 20px 0 15px;
  font-style: normal;
  color: #0E36CA;
}

/* 右カラムの設定 */

div.aside {
  float: right;
  width: 25%;
}

.s_framebox {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  margin-bottom: 24px;
  color: #666666;
}

.s_menu {
  margin-bottom: 24px;
  color: #666666;
}

.s_h4 {
  font-size: 15px;
  font-weight: bold;
  padding: 28px 10px;
  border-top: 5px solid blue;
  background: #eeeeee;
}

.s_list {
  border-bottom: 1px solid #d2d2d2;
  padding: 15px;
  overflow: hidden;
}

.s_list:hover {
  background: white;
}

.s_list a {
  text-decoration: none;
  color: black;
}

.s_list:hover a {
  color: blue;
}

.s_img {
  float: left;
  width: 20%;
  margin-right: 5px;
}

.s_l_title {
  font-size: 11px;
  color: blue;
}

.s_l_desc {
  font-size: 11px;
  color: black;
  text-decoration: none;
}

.s_list:hover .s_l_desc {
  color: blue;
}


.s_company_title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #666666;
  padding: 10px 0;
}

.s_company_info {
  font-size: 11px;
  color: #666666;
  text-align: center;
  color: #666666;
  padding: 10px 0;
  line-height: 1.5;
}

/* clear は float を利用しているため */

.footer {
  text-align: center;
  font-size: 13px;
  clear: both;
  color: #ffffff;
  background-color: #0E36CA;
  padding: 16px 0;
  line-height: 2;
}

.footer_under {
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  color: #0E36CA;
}
